[Desktop Entry]
Version=1.0
Type=Application
Name=VSCode
Comment=download manual
Exec=/home/mor/.local/bin/code
Icon=application-x-executable
Terminal=false
Categories=Utility;