[Desktop Entry]
Version=1.0
Type=Application
Name=code linux
Comment=download manual
Exec=code
Icon=application-x-executable
Terminal=false
Categories=Utility;